<header>

    <div id="top-navbar" class="green darken-3 hide-on-large-only"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i id="nav-icon" class="material-icons yellow-text">menu</i></a></div>

    <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo"><a id="logo-container" href="{% url 'home' %}" class="brand-logo center-align">
            edu(147)
        </a></li>
        <!--<li class="search">-->
          <!--<div class="search-wrapper card">-->
            <!--<input id="search"><i class="material-icons">search</i>-->
            <!--<div class="search-results"></div>-->
          <!--</div>-->
        <!--</li>-->
        <li class="bold"><a href="{% url 'articles' %}" class="waves-effect waves-teal">Articles</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Tutorials</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#">Grid</a></li>
                            <li><a href="#">Helpers</a></li>
                            <li><a href="#">Media</a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Tools</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="badges.html">Badges</a></li>
                            <li><a href="buttons.html">Buttons</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="bold"><a href="about.html" class="waves-effect waves-teal">About</a></li>
    </ul>

</header>
