{% extends "layouts/base.html" %}

{% block title %}home{% endblock %}

{% block content %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center green-text text-darken-4">Welcome to edu<span class="yellow-text">(</span>147<span class="yellow-text">)</span></h1>
        <div class="row center">
            <p class="header col s12 light">
                With a focus on education and technology, edu147.com is a place to find relevant articles and tutorials, and even some useful tools.
            </p>
        </div>
        <br><br>

    </div>
</div>

{% endblock %}
